/* Defining Variables */
:root{
--seconday:#ccc;
--primary:#FFF;
--dark:#333; 
--shadow:  0 1px 5px rgba(104,104,104,0.8);
}


html{
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   box-sizing: border-box; 
}

body{
    padding:1px 65px;
    background-color: var(--seconday);
}

.wrapper{
  display: grid;
  grid-gap:20px;
}

/* properties apply on button */
.wrapper .btn{
   padding:1.3rem 1.2rem;
   text-decoration: none;
   color:var(--primary);
   background-color: var(--dark);
   font-size:1.2rem;
   font-weight: bold;
   border-radius:10px;;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   -ms-border-radius:10px;
   -o-border-radius:10px;
}
/* properties apply when hover on button  */
.wrapper .btn:hover{
 color:white;
 background-color: black;
 box-shadow: var(--shadow
 );
}

/* Properties apply on ul of navbar element */
.wrapper header nav #list{
 display:grid;
 grid-template-columns: repeat(4,1fr);
 list-style: none;
 /* border:2px solid black; */
 grid-gap:20px;
 padding-left: 0rem;
 padding-top:1.7rem;
}

/* Properties apply on anchor of navbar */
.wrapper header nav #list .element{
   text-decoration: none;
   /* border:1px solid black;  */
   display:block;
   background-color: var(--primary);
   text-align: center;
   padding:1.4rem 1.9rem;
   font-size:2.0rem;
   color:var(--dark);
   box-shadow:var(--shadow);
}

/* Properties apply when hover on anchor of navbar */
.wrapper header nav #list .element:hover{
    background-color:var(--dark);
    color:var(--primary);
    font-weight: bold;
    
}



/* Properties apply on left-box  of main_box */
.wrapper #main_box .left-box{
 grid-area:left-box; 
 background:url('img2.jpg');
 background-size:cover;
 background-position: center;
 min-height: 340px;
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color:var(--primary);
 padding:0.9rem 1.9rem;
}

.wrapper #main_box .left-box h2{
    font-size:4.2rem;
    margin-bottom:0.3rem;
}

.wrapper #main_box .left-box p{
    font-size:1.34rem;
    margin-bottom:0.3rem;
}


.wrapper #main_box .right-box-a{
    grid-area:right-box-a;
   
}
   
.wrapper #main_box .right-box-b{
    grid-area:right-box-b;  
}

.wrapper #main_box .right-box-b , .wrapper #main_box .right-box-a {

    background-color: var(--primary);
    padding:1.3rem 1.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    box-shadow: var(--shadow);

}

.wrapper #main_box .right-box-b h3 , .wrapper #main_box .right-box-a h3{
 font-size:1.9rem;
}

.wrapper #main_box .right-box-b p , .wrapper #main_box .right-box-a p{
font-size:1.5rem;
margin-top:2px;
}
.wrapper  #main_box{
 display:grid;
 grid-template-areas: 
 'left-box left-box left-box right-box-a'
 'left-box left-box left-box right-box-b'
 ;
 grid-gap:20px;
}


.wrapper .services{
 display:grid;
 grid-template-columns: repeat(auto-fit ,minmax(200px,1fr));
 grid-gap:20px;
 color:var(--dark);
}
.wrapper .services .card{
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color: var(--primary);
    padding:1.5rem 2.9rem;
    text-align: center;
    box-shadow:var(--shadow);
}
.wrapper .services .card h3{
     font-size: 2.0rem;
     margin-top:0.8rem;
     margin-bottom: 0.8rem;
}

.wrapper .Portfolio{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    background-color: var(--primary);
    padding:3.5rem 1.9rem;
   color:var(--dark)
}
.wrapper .Portfolio img{
max-width:100%;
height:auto;  
}

.wrapper .Portfolio .About{
 padding:1.4rem 2.2rem;
 padding-top:0rem;
 /* border:2px solid black; */
}

.wrapper .Portfolio .About h2{
  font-size: 2.9rem;
  margin-top:0rem;
} 
.wrapper .Portfolio .About p{
    font-size:1.6rem;
    margin-top:0rem;
    margin-bottom: 2.5rem;
    line-height:1.3;
}

.wrapper .images{
 display:grid;
 grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
 padding:1.3rem 0.8rem;
}

.wrapper footer{
    background-color: var(--primary);
    text-align:center;
    color:white;
    background-color: var(--dark);
    padding:1.4rem 1.4rem;
}
.wrapper footer h2{
    text-decoration: underline;
    font-size:2.0rem;
    margin-top:0px;

}
.wrapper footer i{
    margin:auto 10px ;
}
.wrapper footer p{
    font-size:1rem;
    margin-top:9px;
}